<!-- do not make any changes in the template -->
<!-- WRITE YOUR CODE IN THE AREA INDICATED AS FILL YOUR CODE HERE -->


<!DOCTYPE html>
<html lang="en">
<head>
<title>Change Image on Hover in CSS</title>
<style type="text/css">

.step1{
    width: 250px;
    height: 300px;
    margin: 100px;
    background: url("apple.jpg") no-repeat;
}
.step1:Hover{
    
    width: 350px;
    height: 300px;
    margin: 100px;
    background:url("mango.jpg") no-repeat;
}

</style>
</head>
<body>
    <div class="step1"></div>
</body>
</html>   
